* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fafafa;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
}

.inp {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #e1e1e1;
}

.btn {
    padding: 5px 0;
    background-color: #0984e3;
    border: none;
    color: #fafafa;
}

.verify {
    text-align: center;
}

p {
    margin: 2px 0;
}
